In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
req_col=['agency_code'
,'loan_type'
,'property_type'
,'loan_purpose'
,'loan_amount_000s'
,'preapproval'
,'action_taken'
,'state_code'
,'county_code'
,'census_tract_number'
,'applicant_ethnicity'
,'co_applicant_ethnicity'
,'applicant_race_1'
,'co_applicant_race_1'
, 'applicant_sex'
, 'co_applicant_sex'
,'applicant_income_000s'
,'purchaser_type']

In [4]:
set_dtypes={'agency_code':'int8'
,'loan_type':'int8'
,'property_type':'int8'
,'loan_purpose':'int8'
,'loan_amount_000s':'int64'
,'preapproval':'int8'
,'action_taken':'int8'
,'state_code':'int8'
,'county_code':'int16'
,'census_tract_number':'float64'
,'applicant_ethnicity':'int8'
,'co_applicant_ethnicity':'int8'
,'applicant_race_1':'int8'
,'co_applicant_race_1':'int8'
,'applicant_sex':'int8'
,'co_applicant_sex':'int8'
,'applicant_income_000s':'int64'
,'purchaser_type':'int8'}

## 2017 Cleaning

In [5]:
df17=pd.read_csv('Resources/hmda_2017_nationwide_all-records_codes.csv', usecols=req_col)

In [6]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14285496 entries, 0 to 14285495
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   agency_code             int64
 1   loan_type               int64
 2   property_type           int64
 3   loan_purpose            int64
 4   loan_amount_000s        float64
 5   preapproval             int64
 6   action_taken            int64
 7   state_code              float64
 8   county_code             float64
 9   census_tract_number     float64
 10  applicant_ethnicity     int64
 11  co_applicant_ethnicity  int64
 12  applicant_race_1        int64
 13  co_applicant_race_1     int64
 14  applicant_sex           int64
 15  co_applicant_sex        int64
 16  applicant_income_000s   float64
 17  purchaser_type          int64
dtypes: float64(5), int64(13)
memory usage: 1.9 GB

In [7]:
start17= len(df17.index)

In [8]:
df17.isnull().sum().sum()

2627957

In [9]:
df17=df17.dropna()

In [10]:
df17.duplicated().sum()

26075

In [11]:
df17=df17.drop_duplicates()

In [12]:
df17 = df17.astype(set_dtypes)

In [13]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12095740 entries, 0 to 14088332
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   agency_code             int8
 1   loan_type               int8
 2   property_type           int8
 3   loan_purpose            int8
 4   loan_amount_000s        int64
 5   preapproval             int8
 6   action_taken            int8
 7   state_code              int8
 8   county_code             int16
 9   census_tract_number     float64
 10  applicant_ethnicity     int8
 11  co_applicant_ethnicity  int8
 12  applicant_race_1        int8
 13  co_applicant_race_1     int8
 14  applicant_sex           int8
 15  co_applicant_sex        int8
 16  applicant_income_000s   int64
 17  purchaser_type          int8
dtypes: float64(1), int16(1), int64(2), int8(14)
memory usage: 553.7 MB

In [14]:
fin17= len(df17.index)
dropped17= (start17-fin17)
print(f"2017: Imported records: {start17} Final records: {fin17} Dropped records: {dropped17}")

2017: Imported records: 14285496 Final records: 12095740 Dropped records: 2189756

## 2016 Cleaning

In [15]:
df16=pd.read_csv('Resources/hmda_2016_nationwide_all-records_codes.csv', usecols=req_col)

/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_10196/2950297867.py:1: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df16=pd.read_csv('Resources/hmda_2016_nationwide_all-records_codes.csv', usecols=req_col)

In [16]:
start16= len(df16.index)

In [17]:
df16= df16.apply(pd.to_numeric, errors="coerce")

In [18]:
df16.isnull().sum().sum()

3341250

In [19]:
df16=df16.dropna()

In [20]:
df16.duplicated().sum()

29380

In [21]:
df16=df16.drop_duplicates()

In [22]:
df16 = df16.astype(set_dtypes)

In [23]:
fin16= len(df16.index)
dropped16= (start16-fin16)
print(f"2016: Imported records: {start16} Final records: {fin16} Dropped records: {dropped16}")

2016: Imported records: 16332987 Final records: 13516069 Dropped records: 2816918

## 2015 Cleaning

In [24]:
df15=pd.read_csv('Resources/hmda_2015_nationwide_all-records_codes.csv', usecols=req_col)

/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_10196/2813362488.py:1: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df15=pd.read_csv('Resources/hmda_2015_nationwide_all-records_codes.csv', usecols=req_col)

In [25]:
start15= len(df15.index)

In [26]:
df15= df15.apply(pd.to_numeric, errors="coerce")

In [27]:
df15.isna().sum().sum()

3321948

In [28]:
df15=df15.dropna()

In [29]:
df15.duplicated().sum()

26207

In [30]:
df15=df15.drop_duplicates()

In [31]:
df15 = df15.astype(set_dtypes)

In [32]:
fin15= len(df15.index)
dropped15= (start15-fin15)
print(f"2015: Imported records: {start15} Final records: {fin15} Dropped records: {dropped15}")

2015: Imported records: 14374184 Final records: 11609765 Dropped records: 2764419

## 2014 Cleaning

In [33]:
df14=pd.read_csv('Resources/hmda_2014_nationwide_all-records_codes.csv', usecols=req_col)

In [34]:
start14= len(df14.index)

In [35]:
df14.isna().sum().sum()

2623214

In [36]:
df14=df14.dropna()

In [37]:
df14.duplicated().sum()

40240

In [38]:
df14=df14.drop_duplicates()

In [39]:
df14 = df14.astype(set_dtypes)

In [40]:
fin14= len(df14.index)
dropped14= (start14-fin14)
print(f"2014: Imported records: {start14} Final records: {fin14} Dropped records: {dropped14}")

2014: Imported records: 12049341 Final records: 9988844 Dropped records: 2060497

In [41]:
print(f"Count: \
    Imported records: {start14 + start15 + start16 +start17:,d} \
    Dropped records: {dropped14 + dropped15 + dropped16 + dropped17:,d}\
    Final records: {fin14 + fin15 + fin16 + fin17:,d}")

Count:     Imported records: 57,042,008     Dropped records: 9,831,590    Final records: 47,210,418

### Create new DF

In [42]:
df1=pd.concat([df16, df17], ignore_index=True)

In [43]:
df2=pd.concat([df15, df14], ignore_index=True)

In [132]:
dataset=pd.concat([df1, df2], ignore_index=True)

### Correctly classify target data

In [133]:
# Remove 4 -- Application withdrawn by applicant & 5 -- File closed for incompleteness	& 6 -- Loan purchased by the institution
dataset=dataset[(dataset.action_taken !=4) & (dataset.action_taken !=5) &(dataset.action_taken !=6)]

In [134]:
#Classify remaining columns as Success (1) or Fail (0)
#(1) # 1 -- Loan originated	2 -- Application approved but not accepted	8 -- Preapproval request approved but not accepted (optional reporting) 
#(0) # 3 -- Application denied by financial institution 7 -- Preapproval request denied by financial institution
dataset['action_taken'].replace({2:1, 3:0, 7:0, 8:1}, inplace=True)

In [135]:
dataset['action_taken'].value_counts()

1    28389595
0     8209928
Name: action_taken, dtype: int64

### Filtering

In [136]:
# Only loans for new home purchase
# 'loan_purpose' 1 -- Home purchase	2 -- Home improvement	 3 -- Refinancing 
dataset=dataset[dataset['loan_purpose']== 1]

In [137]:
# Look at 'property_type'
# 1 -- One to four-family (other than manufactured housing) 2-- Manufactured housing
# +95% were 1 so drop 2 to help focus our model
dataset=dataset[dataset['property_type'] == 1]

In [138]:
# 1 -- Office of the Comptroller of the Currency (OCC)
# 2 -- Federal Reserve System (FRS)
# 3 -- Federal Deposit Insurance Corporation (FDIC)
# 5 -- National Credit Union Administration (NCUA)
# 7 -- Department of Housing and Urban Development (HUD) 
# 9 -- Consumer Financial Protection Bureau (CFPB)

dataset['agency_code'].value_counts()
# Agency code is just the agency who filed response, doesn't matter. Drop it.

7    8457107
9    3861707
3    1961429
1     943711
5     942393
2     720691
Name: agency_code, dtype: int64

In [139]:
# 1 -- Preapproval was requested
# 2 -- Preapproval was not requested 
# 3 -- Not applicable

# most are not applicable or not requested- Drop
dataset['preapproval'].value_counts()

3    10322256
2     5468372
1     1096410
Name: preapproval, dtype: int64

In [140]:
dataset= dataset.drop(columns=['loan_purpose', 'property_type', 'agency_code', 'preapproval'])

In [141]:
#just loans no location
loans=dataset.drop(columns=['census_tract_number'])
loans.head()

,loan_type,loan_amount_000s,action_taken,state_code,county_code,applicant_ethnicity,co_applicant_ethnicity,applicant_race_1,co_applicant_race_1,applicant_sex,co_applicant_sex,applicant_income_000s,purchaser_type
1,1,144,1,2,20,2,2,5,5,1,2,154,0
2,1,300,1,2,170,2,5,5,8,1,5,119,1
7,1,263,1,2,20,1,5,5,8,1,5,141,7
28,1,187,1,2,20,2,5,5,8,1,5,76,1
30,1,438,1,2,20,3,3,6,6,2,1,225,1

In [142]:
records=len(dataset)
print(f'Total_records: {records:,d}')

Total_records: 16,887,038

In [143]:
# 1 -- Conventional 
# 2 -- FHA-insured 
#3 -- VA-guaranteed
# 4 -- FSA/RHS (Farm Service Agency or Rural Housing Service)
loan_type_count=loans['loan_type'].value_counts()
loan_type_count

1    11099471
2     3664699
3     1539444
4      583424
Name: loan_type, dtype: int64

In [144]:
# 0 -- Loan was not originated or was not sold in calendar year covered by register 
# 1 -- Fannie Mae (FNMA)
# 2 -- Ginnie Mae (GNMA)
# 3 -- Freddie Mac (FHLMC)
# 4 -- Farmer Mac (FAMC)
# 5 -- Private securitization
# 6 -- Commercial bank, savings bank or savings association
# 7 -- Life insurance company, credit union, mortgage bank, or finance company 
# 8 -- Affiliate institution
# 9 -- Other type of purchaser
purchaser_type=loans['purchaser_type'].value_counts()
purchaser_type

0    5335063
1    2550562
2    2027381
6    1967732
7    1889909
3    1670507
9    1146076
8     188637
5     108772
4       2399
Name: purchaser_type, dtype: int64

In [100]:
# # Remove # 0 -- Loan was not originated or was not sold in calendar year covered by register
# loans=loans[loans['purchaser_type'] != 0]

In [101]:
# purchaser_type_to_replace = list(purchaser_type[purchaser_type < 1500000].index)

In [102]:
# # Replace in dataframe
# for app in purchaser_type_to_replace:
#     loans['purchaser_type'] = loans['purchaser_type'].replace(app,"Other")

# # Check to make sure binning was successful
# loans['purchaser_type'].value_counts()

In [145]:
loans=loans.drop(columns=['purchaser_type'])

### Remove Unknowns

In [146]:
# 1 -- Hispanic or Latino
# 2 -- Not Hispanic or Latino
# 3 -- Information not provided by applicant in mail, Internet, or telephone application 
# 4 -- Not applicable
# 5 -- No co-applicant
loans['applicant_ethnicity'].value_counts()

2    13699948
1     1750896
3     1428560
4        7634
Name: applicant_ethnicity, dtype: int64

In [147]:
loans=loans[loans['applicant_ethnicity'] != 3]

In [148]:
loans=loans[loans['applicant_ethnicity'] != 4]

In [149]:
# 1 -- Hispanic or Latino
# 2 -- Not Hispanic or Latino
# 3 -- Information not provided by applicant in mail, Internet, or telephone application 
# 4 -- Not applicable
# 5 -- No co-applicant

loans['co_applicant_ethnicity'].value_counts()

5    8528736
2    6110960
1     695166
3     110080
4       5902
Name: co_applicant_ethnicity, dtype: int64

In [150]:
loans=loans[loans['co_applicant_ethnicity'] != 3]

In [151]:
loans=loans[loans['co_applicant_ethnicity'] != 4]

In [154]:
loans['applicant_ethnicity'].value_counts()

2    13597909
1     1736953
Name: applicant_ethnicity, dtype: int64

In [152]:
loans['co_applicant_ethnicity'].value_counts()

5    8528736
2    6110960
1     695166
Name: co_applicant_ethnicity, dtype: int64

In [155]:
# 1 -- American Indian or Alaska Native
# 2 -- Asian
# 3 -- Black or African American
# 4 -- Native Hawaiian or Other Pacific Islander
# 5 -- White
# 6 -- Information not provided by applicant in mail, Internet, or telephone application 
#7 -- Not applicable
# 8 -- No co-applicant
loans['applicant_race_1'].value_counts()

5    12840614
3     1064372
2     1058653
6      209870
1       97813
4       63540
Name: applicant_race_1, dtype: int64

In [156]:
loans=loans[loans['applicant_race_1'] != 6]

In [157]:
loans=loans[loans['applicant_race_1'] != 7]

In [158]:
# 1 -- American Indian or Alaska Native
# 2 -- Asian
# 3 -- Black or African American
# 4 -- Native Hawaiian or Other Pacific Islander
# 5 -- White
# 6 -- Information not provided by applicant in mail, Internet, or telephone application 7 -- Not applicable
# 8 -- No co-applicant
loans['co_applicant_race_1'].value_counts()

8    8400887
5    5886640
2     476623
3     261249
6      34223
1      33448
4      31922
Name: co_applicant_race_1, dtype: int64

In [159]:
loans=loans[loans['co_applicant_race_1'] != 6]

In [160]:
loans=loans[loans['co_applicant_race_1'] != 7]

In [161]:
# 1 -- Male
# 2 -- Female
# 3 -- Information not provided by applicant in mail, Internet, or telephone application 
# 4 -- Not applicable
# 5 -- No co-applicant
loans['applicant_sex'].value_counts()

1    10552707
2     4517934
3       19739
4         389
Name: applicant_sex, dtype: int64

In [162]:
loans=loans[loans['applicant_sex'] != 3]

In [163]:
loans=loans[loans['applicant_sex'] != 4]

In [164]:
loans['applicant_sex'].value_counts()

1    10552707
2     4517934
Name: applicant_sex, dtype: int64

In [165]:
# 1 -- Male
# 2 -- Female
# 3 -- Information not provided by applicant in mail, Internet, or telephone application 
# 4 -- Not applicable
# 5 -- No co-applicant
loans['co_applicant_sex'].value_counts()

5    8387815
2    5302361
1    1374431
3       5874
4        160
Name: co_applicant_sex, dtype: int64

In [166]:
loans=loans[loans['co_applicant_sex'] != 3]

In [167]:
loans=loans[loans['co_applicant_sex'] != 4]

In [168]:
loans['co_applicant_sex'].value_counts()

5    8387815
2    5302361
1    1374431
Name: co_applicant_sex, dtype: int64

In [169]:
tight_records=len(loans)
print(f'Total_records: {tight_records:,d}')

Total_records: 15,064,607

In [123]:
loans.to_csv("resources/loans_final_state_county.csv")

In [170]:
loans=loans.drop(columns=['state_code', 'county_code'])
loans.head()

,loan_type,loan_amount_000s,action_taken,applicant_ethnicity,co_applicant_ethnicity,applicant_race_1,co_applicant_race_1,applicant_sex,co_applicant_sex,applicant_income_000s
1,1,144,1,2,2,5,5,1,2,154
2,1,300,1,2,5,5,8,1,5,119
7,1,263,1,1,5,5,8,1,5,141
28,1,187,1,2,5,5,8,1,5,76
35,1,361,1,2,2,1,5,2,1,107

In [171]:
loans.to_csv("resources/loans_final.csv")

#### Make datasets to speed up training/testing

In [172]:
medium= loans.sample(n = 500000, random_state = 1)

In [173]:
medium.to_csv("resources/medium_loans_final.csv")

In [174]:
small= loans.sample(n = 50000, random_state = 1)

In [175]:
small.to_csv("resources/small_loans_final.csv")

In [176]:
rest_of_small=loans.drop(small.index)

In [177]:
rest_of_small.to_csv("resources/leftovers_to_test.csv")