In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
req_col=['agency_code'
,'loan_type'
,'property_type'
,'loan_purpose'
,'loan_amount_000s'
,'preapproval'
,'action_taken'
,'state_code'
,'county_code'
,'census_tract_number'
,'applicant_ethnicity'
,'co_applicant_ethnicity'
,'applicant_race_1'
,'co_applicant_race_1'
, 'applicant_sex'
, 'co_applicant_sex'
,'applicant_income_000s'
,'purchaser_type']

In [4]:
set_dtypes={'agency_code':'int8'
,'loan_type':'int8'
,'property_type':'int8'
,'loan_purpose':'int8'
,'loan_amount_000s':'int64'
,'preapproval':'int8'
,'action_taken':'int8'
,'state_code':'int8'
,'county_code':'int16'
,'census_tract_number':'float64'
,'applicant_ethnicity':'int8'
,'co_applicant_ethnicity':'int8'
,'applicant_race_1':'int8'
,'co_applicant_race_1':'int8'
,'applicant_sex':'int8'
,'co_applicant_sex':'int8'
,'applicant_income_000s':'int64'
,'purchaser_type':'int8'}

## 2017 Cleaning

In [5]:
df17=pd.read_csv('Resources/hmda_2017_nationwide_all-records_codes.csv', usecols=req_col)

In [6]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14285496 entries, 0 to 14285495
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   agency_code             int64
 1   loan_type               int64
 2   property_type           int64
 3   loan_purpose            int64
 4   loan_amount_000s        float64
 5   preapproval             int64
 6   action_taken            int64
 7   state_code              float64
 8   county_code             float64
 9   census_tract_number     float64
 10  applicant_ethnicity     int64
 11  co_applicant_ethnicity  int64
 12  applicant_race_1        int64
 13  co_applicant_race_1     int64
 14  applicant_sex           int64
 15  co_applicant_sex        int64
 16  applicant_income_000s   float64
 17  purchaser_type          int64
dtypes: float64(5), int64(13)
memory usage: 1.9 GB

In [7]:
start17= len(df17.index)

In [8]:
df17.isnull().sum().sum()

2627957

In [9]:
df17=df17.dropna()

In [10]:
df17.duplicated().sum()

26075

In [11]:
df17=df17.drop_duplicates()

In [12]:
df17 = df17.astype(set_dtypes)

In [13]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12095740 entries, 0 to 14088332
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   agency_code             int8
 1   loan_type               int8
 2   property_type           int8
 3   loan_purpose            int8
 4   loan_amount_000s        int64
 5   preapproval             int8
 6   action_taken            int8
 7   state_code              int8
 8   county_code             int16
 9   census_tract_number     float64
 10  applicant_ethnicity     int8
 11  co_applicant_ethnicity  int8
 12  applicant_race_1        int8
 13  co_applicant_race_1     int8
 14  applicant_sex           int8
 15  co_applicant_sex        int8
 16  applicant_income_000s   int64
 17  purchaser_type          int8
dtypes: float64(1), int16(1), int64(2), int8(14)
memory usage: 553.7 MB

In [14]:
fin17= len(df17.index)
dropped17= (start17-fin17)
print(f"2017: Imported records: {start17} Final records: {fin17} Dropped records: {dropped17}")

Imported records: 14285496 Final records: 12095740 Dropped records: 2189756

## 2016 Cleaning

In [15]:
df16=pd.read_csv('Resources/hmda_2016_nationwide_all-records_codes.csv', usecols=req_col)

/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_68297/2950297867.py:1: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df16=pd.read_csv('Resources/hmda_2016_nationwide_all-records_codes.csv', usecols=req_col)

In [17]:
start16= len(df16.index)

In [18]:
df16= df16.apply(pd.to_numeric, errors="coerce")

In [19]:
df16.isnull().sum().sum()

3341250

In [20]:
df16=df16.dropna()

In [21]:
df16.duplicated().sum()

29380

In [22]:
df16=df16.drop_duplicates()

In [23]:
df16 = df16.astype(set_dtypes)

In [25]:
fin16= len(df16.index)
dropped16= (start16-fin16)
print(f"2016: Imported records: {start16} Final records: {fin16} Dropped records: {dropped16}")

Imported records: 16332987 Final records: 13516069 Dropped records: 2816918

## 2015 Cleaning

In [26]:
df15=pd.read_csv('Resources/hmda_2015_nationwide_all-records_codes.csv', usecols=req_col)

/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_68297/2813362488.py:1: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df15=pd.read_csv('Resources/hmda_2015_nationwide_all-records_codes.csv', usecols=req_col)

In [27]:
start15= len(df15.index)

In [28]:
df15= df15.apply(pd.to_numeric, errors="coerce")

In [30]:
df15.isna().sum().sum()

3321948

In [31]:
df15=df15.dropna()

In [32]:
df15.duplicated().sum()

26207

In [33]:
df15=df15.drop_duplicates()

In [34]:
df15 = df15.astype(set_dtypes)

In [36]:
fin15= len(df15.index)
dropped15= (start15-fin15)
print(f"2015: Imported records: {start15} Final records: {fin15} Dropped records: {dropped15}")

Imported records: 14374184 Final records: 11609765 Dropped records: 2764419

## 2014 Cleaning

In [37]:
df14=pd.read_csv('Resources/hmda_2014_nationwide_all-records_codes.csv', usecols=req_col)

In [38]:
start14= len(df14.index)

In [40]:
df14.isna().sum().sum()

2623214

In [41]:
df14=df14.dropna()

In [42]:
df14.duplicated().sum()

40240

In [43]:
df14=df14.drop_duplicates()

In [44]:
df14 = df14.astype(set_dtypes)

In [46]:
fin14= len(df14.index)
dropped14= (start14-fin14)
print(f"2014: Imported records: {start14} Final records: {fin14} Dropped records: {dropped14}")

Imported records: 12049341 Final records: 9988844 Dropped records: 2060497

In [47]:
print(f"Count: \
    Imported records: {start14 + start15 + start16 +start17:,d} \
    Dropped records: {dropped14 + dropped15 + dropped16 + dropped17:,d}\
    Final records: {fin14 + fin15 + fin16 + fin17:,d}")

Count:     Imported records: 57,042,008     Dropped records: 9,831,590    Final records: 47,210,418

### Create new DF

In [48]:
df1=pd.concat([df16, df17], ignore_index=True)

In [49]:
df2=pd.concat([df15, df14], ignore_index=True)

In [50]:
dataset=pd.concat([df1, df2], ignore_index=True)

### Correctly classify target data

In [52]:
# Remove 4 -- Application withdrawn by applicant & 5 -- File closed for incompleteness	& 6 -- Loan purchased by the institution
dataset=dataset[(dataset.action_taken !=4) & (dataset.action_taken !=5) &(dataset.action_taken !=6)]

In [53]:
#Classify remaining columns as Success (1) or Fail (0)
#(1) # 1 -- Loan originated	2 -- Application approved but not accepted	8 -- Preapproval request approved but not accepted (optional reporting) 
#(0) # 3 -- Application denied by financial institution 7 -- Preapproval request denied by financial institution
dataset['action_taken'].replace({2:1, 3:0, 7:0, 8:1}, inplace=True)

In [54]:
dataset['action_taken'].value_counts()

1    28389595
0     8209928
Name: action_taken, dtype: int64

### Filter down to just New Home Purchases

In [55]:
# 'loan_purpose' 1 -- Home purchase	2 -- Home improvement	 3 -- Refinancing 
dataset=dataset[dataset['loan_purpose']== 1]

In [56]:
dataset= dataset.drop(columns=['loan_purpose'])

In [57]:
dataset= dataset.reset_index(drop=True)

In [58]:
records=len(dataset)
print(f'Total_records: {records:,d}')

Total_records: 17,744,550

In [60]:
#just loans no location
loans=dataset.drop(columns=['state_code', 'county_code', 'census_tract_number'])
loans.head()

,agency_code,loan_type,property_type,loan_amount_000s,preapproval,action_taken,applicant_ethnicity,co_applicant_ethnicity,applicant_race_1,co_applicant_race_1,applicant_sex,co_applicant_sex,applicant_income_000s,purchaser_type
0,5,1,1,144,2,1,2,2,5,5,1,2,154,0
1,3,1,1,300,3,1,2,5,5,8,1,5,119,1
2,5,1,1,263,3,1,1,5,5,8,1,5,141,7
3,5,1,1,187,1,1,2,5,5,8,1,5,76,1
4,5,1,1,438,1,1,3,3,6,6,2,1,225,1

In [61]:
loans.to_csv("resources/loans_no_geo.csv")

In [64]:
medium= loans.sample(n = 500000, random_state = 1)

In [65]:
medium.to_csv("resources/medium_loans_no_geo.csv")

In [66]:
small= loans.sample(n = 50000, random_state = 1)

In [67]:
small.to_csv("resources/small_loans_no_geo.csv")